@import "tailwindcss";
@config "../tailwind.config.ts";

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--outline)) transparent;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--outline));
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::selection {
  color: hsl(var(--on-background)/0.75);
  background: hsl(var(--on-background)/0.1);
}

.dark {
  --primary: 0 0 100%;
  --secondary: var(--outline);
  --background: 0 0% 4%;
  --on-background: 0 0% 93%;
  --outline: 0 0% 24%;
  --error: 0 75% 62%;
  --on-error: 0 0% 4%;
}

.light {
  --primary: 0 0 0%;
  --secondary: var(--outline);
  --background: 0 0% 100%;
  --on-background: 0 0% 9%;
  --outline: 0 0% 76%;
  --error: 0 75% 62%;
  --on-error: 0 0% 100%;
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--on-background));
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-clip: content-box;
    -webkit-background-clip: content-box;
    scroll-behavior: smooth;
  }
}
